In [42]:
import pandas as pd

In [49]:
encuesta = pd.read_spss("Datasets/principal-encuestas_final/VIF_Final.sav")

In [50]:
encuesta
#p48" hasta "p64_2"
replaces = {"Si" : 1, "No" : 2, "" :  0}
encuesta['p48'] = encuesta['p48'].replace(replaces)

In [51]:
encuesta["convivir"] = encuesta['T_p49_1'] +encuesta['T_p49_2'] +encuesta['T_p49_3']

In [52]:
encuesta[["convivir",'T_p49_1','T_p49_2','T_p49_3', 'reg_rec']]

,convivir,T_p49_1,T_p49_2,T_p49_3,reg_rec
0,NaN,NaN,NaN,NaN,Región del Ñuble
1,NaN,NaN,NaN,NaN,Región del Maule
2,12.0,0.0,0.0,12.0,Región del Lib. Gral. Bdo. O´Higgins
3,13.0,2.0,6.0,5.0,Región de Arica y Parinacota
4,1.0,0.0,0.0,1.0,Región del Maule
...,...,...,...,...,...
7730,NaN,NaN,NaN,NaN,Región del Maule
7731,NaN,NaN,NaN,NaN,Región de Aysén
7732,NaN,NaN,NaN,NaN,Región de Valparaíso
7733,NaN,NaN,NaN,NaN,Región de Arica y Parinacota
7734,NaN,NaN,NaN,NaN,Región Metropolitana

In [53]:
encuesta[["convivir"]].notna()

      convivir
0        False
1        False
2         True
3         True
4         True
...        ...
7730     False
7731     False
7732     False
7733     False
7734     False

[7735 rows x 1 columns]

In [54]:
ver = encuesta[encuesta["convivir"].notnull()]

In [55]:
ver.reg_rec.value_counts()

Región Metropolitana                    369
Región de Antofagasta                   164
Región de Aysén                         150
Región de Coquimbo                      146
Región de Tarapacá                      144
Región de Arica y Parinacota            142
Región del Maule                        137
Región del Bío Bío                      134
Región de Atacama                       132
Región de Los Ríos                      127
Región del Lib. Gral. Bdo. O´Higgins    125
Región de la Araucanía                  123
Región de Valparaíso                    120
Región del Ñuble                        112
Región de Los Lagos                     110
Región de Magallanes                     85
Name: reg_rec, dtype: int64

In [56]:
encuesta[["convivir",'T_p49_1','T_p49_2','T_p49_3']]
encuesta[["convivir",'T_p49_1','T_p49_2','T_p49_3', 'reg_rec']].isna().sum()

convivir    5415
T_p49_1     5415
T_p49_2     5415
T_p49_3     5415
reg_rec        0
dtype: int64

In [57]:
dic = {'Sin estudios':1,
'Pre-Kinder o Kinder':2,
'Educación básica o Preparatoria incompleta o inferior':3,
'Educación Básica o Preparatoria completa':4,
'Educación Media o Humanidades incompleta':5,
'Educación Media o Humanidades completa':6,
'Instituto Profesional o Centros de Formación Técnica incompleta':7,
'Instituto Profesional o Centros de Formación Técnica completa':8,
'Universitaria incompleta':9,
'Universitaria completa':10,
'Postgrado (máster, doctor o equivalente)':11,
'No sabe (no leer)':88,
'No responde (no leer)':99,
'Salida':9999}
encuesta['p50'] = encuesta['p50'].replace(dic)

In [58]:
encuesta["p51"].unique()
replaces = {"Si" : 1, "No" : 2, "" :  0}

In [59]:
dic_2 = {"Si" : 1, "No" : 2, 'No sabe (no leer)' : 8,
'No responde (no leer)':9,"":0}
encuesta['p51'] = encuesta['p51'].replace(dic_2)

In [60]:
dic_3 = {'A veces':1,'Muchas veces': 2,'Siempre':3,
 'No sabe (no leer)' : 8,
 'No responde (no leer)':9,"":0}
encuesta['p52'] = encuesta['p52'].replace(dic_3)

In [61]:
dic_4 = {'Si':1,'No': 2,'No aplica (no hubo figuras paternas-maternas)':3,
'No sabe (no leer)' : 8,
'No responde (no leer)':9,"":0}
encuesta['p53'] = encuesta['p53'].replace(dic_4)
encuesta['p54'] = encuesta['p54'].replace(dic_4)

In [62]:
dic_6 = {'3 a 6 veces por semana':1,'1 o 2 veces por semana': 2,
'1 vez por semana':3, 'Una vez al mes':4,
'Menos de una vez al mes':5,'No aplica':6,
'No sabe (no leer)' : 8,'No responde (no leer)':9,"":0}
encuesta['p55'] = encuesta['p55'].replace(dic_6)

In [63]:
dic_7 = {'Nunca':1,'Al menos una vez por mes': 2,
'A menos una vez por semana':3, 'Todos o casi todos los días':4,
'No sabe (no leer)' : 8,'No responde (no leer)':9,"":0}
encuesta['p56'] = encuesta['p56'].replace(dic_7)

In [64]:
encuesta['p57'].unique() #abierta

array([ nan,   5.,   0., 888.,   1., 100.,   2.,   6., 200.,  30.,   9.,
        36., 192.,   3.,  15.,  20.,   4.,  48., 120.,   8.,  10.,  12.,
       250.,  28., 160., 999.,  25., 365.,  40.,  50.,  80.,  24.,  38.,
        44.,  90.,   7., 360.,  18.,  72.,  54.])

In [65]:
dic_8 = {'Si':1,'No': 2,'No sabe (no leer)' : 8,'No responde (no leer)':9,"":0}

In [66]:
encuesta['p58'] = encuesta['p58'].replace(dic_8)
encuesta['p59'] = encuesta['p59'].replace(dic_8)
encuesta['p61'] = encuesta['p61'].replace(dic_8)

In [67]:
dic_ses = {"Si": 1, "No": 2}

In [68]:
#p62_b_1_0X
encuesta['p62_b_1_O1'] = encuesta['p62_b_1_O1'].replace(dic_ses)
encuesta['p62_b_1_O2'] = encuesta['p62_b_1_O2'].replace(dic_ses)
encuesta['p62_b_1_O3'] = encuesta['p62_b_1_O3'].replace(dic_ses)
encuesta['p62_b_1_O4'] = encuesta['p62_b_1_O4'].replace(dic_ses)
encuesta['p62_b_1_O5'] = encuesta['p62_b_1_O5'].replace(dic_ses)

#p62_b_2_0X
encuesta['p62_b_2_O1'] = encuesta['p62_b_2_O1'].replace(dic_ses)
encuesta['p62_b_2_O2'] = encuesta['p62_b_2_O2'].replace(dic_ses)
encuesta['p62_b_2_O3'] = encuesta['p62_b_2_O3'].replace(dic_ses)
encuesta['p62_b_2_O4'] = encuesta['p62_b_2_O4'].replace(dic_ses)
encuesta['p62_b_2_O5'] = encuesta['p62_b_2_O5'].replace(dic_ses)

#p62_b_3_0X
encuesta['p62_b_3_O1'] = encuesta['p62_b_3_O1'].replace(dic_ses)
encuesta['p62_b_3_O2'] = encuesta['p62_b_3_O2'].replace(dic_ses)
encuesta['p62_b_3_O3'] = encuesta['p62_b_3_O3'].replace(dic_ses)
encuesta['p62_b_3_O4'] = encuesta['p62_b_3_O4'].replace(dic_ses)
encuesta['p62_b_3_O5'] = encuesta['p62_b_3_O5'].replace(dic_ses)

#p62_b_4_0X
encuesta['p62_b_4_O1'] = encuesta['p62_b_4_O1'].replace(dic_ses)
encuesta['p62_b_4_O2'] = encuesta['p62_b_4_O2'].replace(dic_ses)
encuesta['p62_b_4_O3'] = encuesta['p62_b_4_O3'].replace(dic_ses)
encuesta['p62_b_4_O4'] = encuesta['p62_b_4_O4'].replace(dic_ses)
encuesta['p62_b_4_O5'] = encuesta['p62_b_4_O5'].replace(dic_ses)

In [69]:
dic_9 = {'Decide Ud.':1,'Decide su pareja':2,
'Deciden por mutuo acuerdo':3,
'Deciden otros miembros ¿Quién o quiénes?':4,
'No aplica':6,"No sabe":8,"No responde":9,"":0}

In [70]:
encuesta['p63_1'] = encuesta['p63_1'].replace(dic_9)
encuesta['p63_2'] = encuesta['p63_2'].replace(dic_9)
encuesta['p63_3'] = encuesta['p63_3'].replace(dic_9)

In [71]:
dic_10 = {'Muy en desacuerdo':1,'En desacuerdo':2,'Indiferente':3,
'De acuerdo':4,'Muy de acuerdo':5,'No sabe (no leer)' : 8,
'No responde (no leer)':9,"":0}

In [72]:
encuesta['p64_1'] = encuesta['p64_1'].replace(dic_10)